button {
  cursor: pointer;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: bisque;
  border: 1px solid black;
  border-radius: 10px;
}

.app-logo {
  width: 100px;
  border-radius: 50%;
}

.nav-items > ul {
  display: flex;
  padding: 0 5px;
}

.nav-items > ul > li {
  font-size: 24px;
  margin: 15px;
  list-style-type: none;
}

.filter-section {
  margin: 10px 0;
  padding: 10px 5%;
  display: flex;
}

.res-container {
  display: flex;
  flex-wrap: wrap;
  padding: 0 5%;
  /* justify-content: space-between; */
}

.res-card {
  margin: 2%;
  padding: 5px;
  width: 20%;
  object-fit: cover;
  background-color: #f0f0f0;
  border-radius: 16px;
}

.res-card:hover {
  cursor: pointer;
  border: 1px solid black;
}

.res-card > h3 {
  margin: 15px 5px;
}

.res-card > h4 {
  margin: 5px;
}

.res-logo {
  width: 100%;
  height: 50%;
  border-radius: 16px;
}

.filter-btn {
  padding: 5px;
  margin: 0 10px;
}

.search {
  margin-right: 20px;
}

.search-box {
  width: 20vw;
  margin-left: 30px;
  margin-right: 10px;
  padding: 5px;
}

.search-btn {
  padding: 2px;
}

.shimmer-container {
  display: flex;
  flex-wrap: wrap;
  padding: 5%;
}

.shimmer-card {
  margin: 2%;
  padding: 5px;
  width: 250px;
  height: 400px;
  object-fit: cover;
  background-color: #f0f0f0;
  border-radius: 16px;
}

.shimmer-img {
  width: 248px;
  height: 190px;
  background-color: #e6e1e1;
  border-radius: 16px;
}

.login-btn {
  margin: 0 10px;
  padding: 0 20px;
  font-size: 18px;
  list-style-type: none;
  appearance: none;
  border-radius: 20px;
  border-width: 1px;
}

.footer {
  display: flex;
  justify-content: center;
  background-color: bisque;
  border: 1px solid black;
  border-radius: 10px;
}
